<style>
  body { font-family: sans-serif; }
  code { background: #dedede; }
</style>

<h1>Hello World from the Engine</h1>

<h3>About</h3>
<p>This example demonstrates a possible issue with ember-engines or the asset pipeline.</p>

<h3>What has been done?</h3>

<p>Fresh ember ~3.0.0 project that uses ember engines and ember-lazy-mount to mount an inrepo engine called 'source-code-editor'. The engine is set to <code>lazyLoad: true</code> and the loading is successful if you can see the ember-ace source-code-editor at the bottom of the page. ember-ace has been added to the dependencies in the inrepo engine.</p>

<h3>Expected behaviour</h3>

<p>
  All ember-ace related javascript code is added to dist/engines-dist/source-code-editor/assets/engine-vendor.js. The huge javascript files can be lazily loaded when users demand the functionality.
</p>

<h3>Actual behaviour</h3>

<p>
  <ul>
    <li>
      The ace.js related javascript files are added to <em>dist/vendor.js</em> (size increase from 2.9M to 3.6M)
    </li>
    <li>
      The ember-ace related javascript code is added to <em>dist/engines-dist/source-code-editor/assets/engine-vendor.js</em> (size increase from 39B to 11K)
    </li>
  </ul>
</p>

<hr>

{{ember-ace lines=10 value=value update=(action (mut value))}}
